In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('./supermarket_sales - Sheet1.csv')

In [2]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
from re import S
import math as m
#  we will do a hypothesis on total as total amount can be above a certain amount
# z test when pop size > 30  and t test will be when  pop size<30

#  Null hypo will be that total amt <= 250
#  alternate hypo will total amt > 250

df1 = df.sample(n=28)
df2=df.sample(n=100)

#sample size
nt = len(df1)
nz= len(df2)

#sample mean
x_bar_t= df1["Total"].mean()
x_bar_z= df2["Total"].mean()

# Population size
n=len(df)

# pop mean
meu = df["Total"].mean()

# STANDARD DEVIATION
s_t = df1["Total"].std()
s_z = df2["Total"].std()
sigma = df["Total"].std()


#  formula for Z test
print("for Z test")
Z_SCORE = (x_bar_z-meu)/(sigma/m.sqrt(nz))
# Z_SCORE = round(Z_SCORE,1)
print(Z_SCORE)
alpha = 0.05

critical_val = 1.65 #VALUE FOR RIGHT TAIL AND SIGNIFICANCE 
#  if z score is greater than critical val then reject null hypothesis
if Z_SCORE > critical_val:
  print("We reject Null Hypothesis")
else :
  print("We Do NOT REJECT Null Hypothesis")


#  formula for T test

print("for T test")
T_SCORE = (x_bar_t-meu)/(s_t/m.sqrt(nt))
# T_SCORE = round(T_SCORE,1)
print(T_SCORE)
alpha = 0.05

critical_val = 1.703 # N-1 =27 AND 0.05 KA INTERSECTION
#  if z score is greater than critical val then reject null hypothesis
if T_SCORE > critical_val:
  print("We reject Null Hypothesis")
else :
  print("We Do NOT REJECT Null Hypothesis")

for Z test
2.44326043175084
We reject Null Hypothesis
for T test
0.3482385504172044
We Do NOT REJECT Null Hypothesis

In [4]:
# FOR 2 SMPLE TEST  WE CAN CREATE  DATA FRAME FOR MEN AND WOMEN ON GENDER FOR Quantity

In [5]:

# Two sample Independent T Test
men_arr=[]
women_arr=[]
import statistics ,math
#  for t test
for i in range(29):
  if df["Gender"][i]=="Female":
    women_arr.append(df["Quantity"][i])
  else:
    men_arr.append(df["Quantity"][i])

# means
men_mean= statistics.fmean(men_arr)
women_mean= statistics.fmean(women_arr)

# print(men_mean)
# print(women_mean)

#std dev if xbar is not given then std dev for both men and women comes out to be same
men_std = statistics.stdev(men_arr,xbar=men_mean)
women_std = statistics.stdev(women_arr,xbar=women_mean)
# print(men_std)
# print(women_std)

# lengths
men_len = len(men_arr)
women_len =len(women_arr)

# formula  

lower = math.sqrt((1/men_len)+(1/women_len))
s = math.sqrt((((men_len-1)*men_std*men_std)+((women_len-1)*women_std*women_std))/(men_len+women_len-2))
print(s)

T_SCORE = abs(men_mean-women_mean)/(s*lower)
print(T_SCORE)
# tscore cross verified by hand calc

degree_freedom = men_len+women_len-2
# we check degree_freedom=27 and alpha = 0.05
tcritical = 1.703

if T_SCORE > tcritical:
  print("We reject Null Hypothesis")
else :
  print("We Do NOT REJECT Null Hypothesis")

2.6010105213017494
0.4089096286857567
We Do NOT REJECT Null Hypothesis

In [6]:
# Two sample Independent Z Test 
# null hypo = meu2>meu1
# alternate hypo =meu1 > meu2 so right tailed test at alpha = 0.05

men_arr=[]
women_arr=[]
import statistics ,math
#  for t test
for i in range(100):
  if df["Gender"][i]=="Female":
    women_arr.append(df["Quantity"][i])
  else:
    men_arr.append(df["Quantity"][i])

# means
men_mean= statistics.fmean(men_arr)
women_mean= statistics.fmean(women_arr)

# print(men_mean)
# print(women_mean)

#std dev if xbar is not given then std dev for both men and women comes out to be same
men_std = statistics.stdev(men_arr,xbar=men_mean)
women_std = statistics.stdev(women_arr,xbar=women_mean)
# print(men_std)
# print(women_std)

# lengths
men_len = len(men_arr)
women_len =len(women_arr)

# formula  x1-x2/s

lower = math.sqrt((men_std*men_std/men_len)+(women_std*women_std/women_len))

Z_SCORE = abs(men_mean-women_mean)/lower
print(Z_SCORE)

Zcritical = 1.645

if Z_SCORE > Zcritical:
  print("We reject Null Hypothesis")
else :
  print("We Do NOT REJECT Null Hypothesis")

0.056438999111823006
We Do NOT REJECT Null Hypothesis